* text=auto !eol
/build.cmd svneol=CRLF#text/plain eol=crlf
/cleanup.cmd svneol=CRLF#text/plain eol=crlf
/mamedirs.zip -text
whatsnew/whatsnew_0121.txt svneol=native#text/plain
whatsnew/whatsnew_0121u1.txt svneol=native#text/plain
whatsnew/whatsnew_0121u2.txt svneol=native#text/plain
whatsnew/whatsnew_0121u3.txt svneol=native#text/plain
whatsnew/whatsnew_0121u4.txt svneol=native#text/plain
whatsnew/whatsnew_0122.txt svneol=native#text/plain
whatsnew/whatsnew_0122u1.txt svneol=native#text/plain
whatsnew/whatsnew_0122u2.txt svneol=native#text/plain
whatsnew/whatsnew_0122u3.txt svneol=native#text/plain
whatsnew/whatsnew_0122u4.txt svneol=native#text/plain
whatsnew/whatsnew_0122u5.txt svneol=native#text/plain
whatsnew/whatsnew_0122u6.txt svneol=native#text/plain
whatsnew/whatsnew_0122u7.txt svneol=native#text/plain
whatsnew/whatsnew_0122u8.txt svneol=native#text/plain
whatsnew/whatsnew_0123.txt svneol=native#text/plain
whatsnew/whatsnew_0123u1.txt svneol=native#text/plain
whatsnew/whatsnew_0123u2.txt svneol=native#text/plain
whatsnew/whatsnew_0123u3.txt svneol=native#text/plain
whatsnew/whatsnew_0123u4.txt svneol=native#text/plain
whatsnew/whatsnew_0123u5.txt svneol=native#text/plain
whatsnew/whatsnew_0123u6.txt svneol=native#text/plain
whatsnew/whatsnew_template.txt svneol=native#text/plain
