* text=auto !eol
/build.cmd svneol=CRLF#text/plain eol=crlf
/cleanup.cmd svneol=CRLF#text/plain eol=crlf
/config-template.cmd svneol=native#text/plain
/makewn.c svneol=native#text/plain
/mamedirs.zip -text
/svn-config.reg svneol=native#text/plain
/whatsnew.cmd svneol=native#text/plain
whatsnew/whatsnew_0121.txt svneol=native#text/plain
whatsnew/whatsnew_0121u1.txt svneol=native#text/plain
whatsnew/whatsnew_0121u2.txt svneol=native#text/plain
whatsnew/whatsnew_0121u3.txt svneol=native#text/plain
whatsnew/whatsnew_0121u4.txt svneol=native#text/plain
whatsnew/whatsnew_0122.txt svneol=native#text/plain
whatsnew/whatsnew_0122u1.txt svneol=native#text/plain
whatsnew/whatsnew_0122u2.txt svneol=native#text/plain
whatsnew/whatsnew_0122u3.txt svneol=native#text/plain
whatsnew/whatsnew_0122u4.txt svneol=native#text/plain
whatsnew/whatsnew_0122u5.txt svneol=native#text/plain
whatsnew/whatsnew_0122u6.txt svneol=native#text/plain
whatsnew/whatsnew_0122u7.txt svneol=native#text/plain
whatsnew/whatsnew_0122u8.txt svneol=native#text/plain
whatsnew/whatsnew_0123.txt svneol=native#text/plain
whatsnew/whatsnew_0123u1.txt svneol=native#text/plain
whatsnew/whatsnew_0123u2.txt svneol=native#text/plain
whatsnew/whatsnew_0123u3.txt svneol=native#text/plain
whatsnew/whatsnew_0123u4.txt svneol=native#text/plain
whatsnew/whatsnew_0123u5.txt svneol=native#text/plain
whatsnew/whatsnew_0123u6.txt svneol=native#text/plain
whatsnew/whatsnew_0124.txt svneol=native#text/plain
whatsnew/whatsnew_0124u1.txt svneol=native#text/plain
whatsnew/whatsnew_0124u2.txt svneol=native#text/plain
whatsnew/whatsnew_0124u3.txt svneol=native#text/plain
whatsnew/whatsnew_0124u4.txt svneol=native#text/plain
whatsnew/whatsnew_0124u5.txt svneol=native#text/plain
whatsnew/whatsnew_0125.txt svneol=native#text/plain
whatsnew/whatsnew_0125u1.txt svneol=native#text/plain
whatsnew/whatsnew_0125u2.txt svneol=native#text/plain
whatsnew/whatsnew_0125u3.txt svneol=native#text/plain
whatsnew/whatsnew_0125u4.txt svneol=native#text/plain
whatsnew/whatsnew_0125u5.txt svneol=native#text/plain
whatsnew/whatsnew_0125u6.txt svneol=native#text/plain
whatsnew/whatsnew_0125u7.txt svneol=native#text/plain
whatsnew/whatsnew_0125u8.txt svneol=native#text/plain
whatsnew/whatsnew_0125u9.txt svneol=native#text/plain
whatsnew/whatsnew_0126.txt svneol=native#text/plain
whatsnew/whatsnew_0126u1.txt svneol=native#text/plain
whatsnew/whatsnew_0126u2.txt svneol=native#text/plain
whatsnew/whatsnew_0126u3.txt svneol=native#text/plain
whatsnew/whatsnew_0126u4.txt svneol=native#text/plain
whatsnew/whatsnew_0126u5.txt svneol=native#text/plain
whatsnew/whatsnew_0127.txt svneol=native#text/plain
whatsnew/whatsnew_0127u1.txt svneol=native#text/plain
whatsnew/whatsnew_0127u2.txt svneol=native#text/plain
whatsnew/whatsnew_0127u3.txt svneol=native#text/plain
whatsnew/whatsnew_0127u4.txt svneol=native#text/plain
whatsnew/whatsnew_0127u5.txt svneol=native#text/plain
whatsnew/whatsnew_0127u6.txt svneol=native#text/plain
whatsnew/whatsnew_0127u7.txt svneol=native#text/plain
whatsnew/whatsnew_0127u8.txt svneol=native#text/plain
whatsnew/whatsnew_0128.txt svneol=native#text/plain
whatsnew/whatsnew_0128u1.txt svneol=native#text/plain
whatsnew/whatsnew_0128u2.txt svneol=native#text/plain
whatsnew/whatsnew_0128u3.txt svneol=native#text/plain
whatsnew/whatsnew_0128u4.txt svneol=native#text/plain
whatsnew/whatsnew_0128u5.txt svneol=native#text/plain
whatsnew/whatsnew_0128u6.txt svneol=native#text/plain
whatsnew/whatsnew_0128u7.txt svneol=native#text/plain
whatsnew/whatsnew_0129.txt svneol=native#text/plain
whatsnew/whatsnew_0129u1.txt svneol=native#text/plain
whatsnew/whatsnew_0129u2.txt svneol=native#text/plain
whatsnew/whatsnew_0129u3.txt svneol=native#text/plain
whatsnew/whatsnew_0129u4.txt svneol=native#text/plain
whatsnew/whatsnew_0129u5.txt svneol=native#text/plain
whatsnew/whatsnew_0129u6.txt svneol=native#text/plain
whatsnew/whatsnew_0130.txt svneol=native#text/plain
whatsnew/whatsnew_0130u1.txt svneol=native#text/plain
whatsnew/whatsnew_0130u2.txt svneol=native#text/plain
whatsnew/whatsnew_0130u3.txt svneol=native#text/plain
whatsnew/whatsnew_0130u4.txt svneol=native#text/plain
whatsnew/whatsnew_0131.txt svneol=native#text/plain
whatsnew/whatsnew_0131u1.txt svneol=native#text/plain
whatsnew/whatsnew_0131u2.txt svneol=native#text/plain
whatsnew/whatsnew_0131u3.txt svneol=native#text/plain
whatsnew/whatsnew_0131u4.txt svneol=native#text/plain
whatsnew/whatsnew_0132.txt svneol=native#text/plain
whatsnew/whatsnew_0132u1.txt svneol=native#text/plain
whatsnew/whatsnew_0132u2.txt svneol=native#text/plain
whatsnew/whatsnew_0132u3.txt svneol=native#text/plain
whatsnew/whatsnew_0132u4.txt svneol=native#text/plain
whatsnew/whatsnew_0132u5.txt svneol=native#text/plain
whatsnew/whatsnew_0133.txt svneol=native#text/plain
whatsnew/whatsnew_0133u1.txt svneol=native#text/plain
whatsnew/whatsnew_0133u2.txt svneol=native#text/plain
whatsnew/whatsnew_0133u3.txt svneol=native#text/plain
whatsnew/whatsnew_0133u4.txt svneol=native#text/plain
whatsnew/whatsnew_0133u5.txt svneol=native#text/plain
whatsnew/whatsnew_0134.txt svneol=native#text/plain
whatsnew/whatsnew_0134u1.txt svneol=native#text/plain
whatsnew/whatsnew_0134u2.txt svneol=native#text/plain
whatsnew/whatsnew_0134u3.txt svneol=native#text/plain
whatsnew/whatsnew_0134u4.txt svneol=native#text/plain
whatsnew/whatsnew_0135.txt svneol=native#text/plain
whatsnew/whatsnew_0135u1.txt svneol=native#text/plain
whatsnew/whatsnew_0135u2.txt svneol=native#text/plain
whatsnew/whatsnew_0135u3.txt svneol=native#text/plain
whatsnew/whatsnew_0135u4.txt svneol=native#text/plain
whatsnew/whatsnew_0136.txt svneol=native#text/plain
whatsnew/whatsnew_0136u1.txt svneol=native#text/plain
whatsnew/whatsnew_0136u2.txt svneol=native#text/plain
whatsnew/whatsnew_0136u3.txt svneol=native#text/plain
whatsnew/whatsnew_0136u4.txt svneol=native#text/plain
whatsnew/whatsnew_0137.txt svneol=native#text/plain
whatsnew/whatsnew_0137u1.txt svneol=native#text/plain
whatsnew/whatsnew_0137u2.txt svneol=native#text/plain
whatsnew/whatsnew_0137u3.txt svneol=native#text/plain
whatsnew/whatsnew_0137u4.txt svneol=native#text/plain
whatsnew/whatsnew_0138.txt svneol=native#text/plain
whatsnew/whatsnew_0138u1.txt svneol=native#text/plain
whatsnew/whatsnew_0138u2.txt svneol=native#text/plain
whatsnew/whatsnew_0138u3.txt svneol=native#text/plain
whatsnew/whatsnew_0138u4.txt svneol=native#text/plain
whatsnew/whatsnew_0139.txt svneol=native#text/plain
whatsnew/whatsnew_0139u1.txt svneol=native#text/plain
whatsnew/whatsnew_0139u2.txt svneol=native#text/plain
whatsnew/whatsnew_0139u3.txt svneol=native#text/plain
whatsnew/whatsnew_0139u4.txt svneol=native#text/plain
whatsnew/whatsnew_0140.txt svneol=native#text/plain
whatsnew/whatsnew_0140u1.txt svneol=native#text/plain
whatsnew/whatsnew_0140u2.txt svneol=native#text/plain
whatsnew/whatsnew_0140u3.txt svneol=native#text/plain
whatsnew/whatsnew_0141.txt svneol=native#text/plain
whatsnew/whatsnew_0141u1.txt svneol=native#text/plain
whatsnew/whatsnew_0141u2.txt svneol=native#text/plain
whatsnew/whatsnew_0141u3.txt svneol=native#text/plain
whatsnew/whatsnew_0141u4.txt svneol=native#text/plain
whatsnew/whatsnew_0142.txt svneol=native#text/plain
whatsnew/whatsnew_0142u1.txt svneol=native#text/plain
whatsnew/whatsnew_0142u2.txt svneol=native#text/plain
whatsnew/whatsnew_0142u3.txt svneol=native#text/plain
whatsnew/whatsnew_0142u4.txt svneol=native#text/plain
whatsnew/whatsnew_0142u5.txt svneol=native#text/plain
whatsnew/whatsnew_0142u6.txt svneol=native#text/plain
whatsnew/whatsnew_0143.txt svneol=native#text/plain
whatsnew/whatsnew_0143u1.txt svneol=native#text/plain
whatsnew/whatsnew_0143u2.txt svneol=native#text/plain
whatsnew/whatsnew_0143u3.txt svneol=native#text/plain
whatsnew/whatsnew_0143u4.txt svneol=native#text/plain
whatsnew/whatsnew_0143u5.txt svneol=native#text/plain
whatsnew/whatsnew_0143u6.txt svneol=native#text/plain
whatsnew/whatsnew_0143u7.txt svneol=native#text/plain
whatsnew/whatsnew_0143u8.txt svneol=native#text/plain
whatsnew/whatsnew_0143u9.txt svneol=native#text/plain
whatsnew/whatsnew_0144.txt svneol=native#text/plain
whatsnew/whatsnew_0144u1.txt svneol=native#text/plain
whatsnew/whatsnew_0144u2.txt svneol=native#text/plain
whatsnew/whatsnew_0144u3.txt svneol=native#text/plain
whatsnew/whatsnew_0144u4.txt svneol=native#text/plain
whatsnew/whatsnew_0144u5.txt svneol=native#text/plain
whatsnew/whatsnew_0144u6.txt svneol=native#text/plain
whatsnew/whatsnew_0144u7.txt svneol=native#text/plain
whatsnew/whatsnew_0145.txt svneol=native#text/plain
whatsnew/whatsnew_0145u1.txt svneol=native#text/plain
whatsnew/whatsnew_0145u2.txt svneol=native#text/plain
whatsnew/whatsnew_0145u3.txt svneol=native#text/plain
whatsnew/whatsnew_0145u4.txt svneol=native#text/plain
whatsnew/whatsnew_0145u5.txt svneol=native#text/plain
whatsnew/whatsnew_0145u6.txt svneol=native#text/plain
whatsnew/whatsnew_0145u7.txt svneol=native#text/plain
whatsnew/whatsnew_0145u8.txt svneol=native#text/plain
whatsnew/whatsnew_0146.txt svneol=native#text/plain
whatsnew/whatsnew_0146u1.txt svneol=native#text/plain
whatsnew/whatsnew_0146u2.txt svneol=native#text/plain
whatsnew/whatsnew_0146u3.txt svneol=native#text/plain
whatsnew/whatsnew_0146u4.txt svneol=native#text/plain
whatsnew/whatsnew_0146u5.txt svneol=native#text/plain
whatsnew/whatsnew_template.txt svneol=native#text/plain
