* text=auto !eol
/build.cmd svneol=CRLF#text/plain eol=crlf
whatsnew/whatsnew_0121.txt svneol=native#text/plain
whatsnew/whatsnew_0121u1.txt svneol=native#text/plain
whatsnew/whatsnew_template.txt svneol=native#text/plain
